.rmdp-wrapper {
    background-color: transparent !important;
}

.rmdp-shadow {
    box-shadow: none !important;
}

.rmdp-calendar {
    padding: 16px !important;
    user-select: none;
}

.rmdp-header {
    margin-top: 0px !important; 
    padding: 0px !important;
}

.rmdp-header-values {
    font-family: 'Geist Mono Variable';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #22D3EE !important;
    text-transform: uppercase;
}

.rmdp-week-day {
    padding: 8px 0px;
    font-family: 'Geist Mono Variable';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(34, 211, 238, 0.6) !important;
    width: 32px !important;
    height: 32px !important;
}

.rmdp-day {
    width: 32px !important;
    height: 32px !important;
}

.rmdp-day span {
    bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
    top: 0px !important;
    color: rgba(34, 211, 238, 0.6) !important
}

.rmdp-day-picker {
    padding: 0px !important;
}

@media (hover: hover) {
    .rmdp-day:not(.rmdp-disabled,.rmdp-day-hidden) span:hover {
        background-color: rgb(6 182 212 / 0.3) !important;
        color: #67E8F9 !important;
    }
}

.rmdp-range {
    background-color: rgb(6 182 212 / 0.3) !important;
    box-shadow: none !important;
    color: #67E8F9 !important;
}

.rmdp-range-hover{
    border-radius: 8px !important;
}

.rmdp-range-hover {
    background-color: rgb(6 182 212 / 0.3) !important;
    box-shadow: none !important;
    color: #67E8F9 !important;
}

.rmdp-day, .rmdp-day:focus {
    border-radius: 8px !important;
}

.start, .end {
    border-radius: 8px !important;
}

.rmdp-range-hover, .rmdp-range {
    border-radius: 8px !important;
}

.rmdp-day.rmdp-range-hover:focus {
    border-radius: 8px !important;
}

.rmdp-day.rmdp-deactive > span, .rmdp-day.rmdp-disabled > span {
    opacity: 0.5;
}

.rmdp-day-picker:has(~ .rmdp-month-picker[style*="display: flex"]), .rmdp-day-picker:has(~ .rmdp-year-picker[style*="display: block"]) {
    opacity: 0;
}

.rmdp-day.rmdp-selected span:not(.highlight) {
    color: #67E8F9 !important;
    background-color: rgb(6 182 212 / 0.3) !important;
    box-shadow: none !important;
}

.rmdp-day.rmdp-today span {
    background-color: unset !important;
    border: none !important;
}

.rmdp-month-picker {
    background-color: transparent !important;
}

.rmdp-year-picker {
    background-color: transparent !important;
}

.rmdp-week {
    gap: 10px !important;
}

div:has(> .rmdp-week) {
    gap: 4px !important;
    display: flex;
    flex-direction: column;
}